doctype html

html
  head
    title 投票系统
    //- link(rel="stylesheet", href="/static/css/style.css",type="text/css")
    script(src="/static/js/axios.min.js")
    script(src="/static/js/jquery.min.js")
    script(src="/static/js/lodash.min.js")
    <link rel="stylesheet" href="/static/css/style.css">

  body
    block content
    #footer
      p 简单的投票系统 &copy;2019